---
BasedOnStyle: LLVM
Standard: Cpp11
BreakBeforeBraces: Linux
ColumnLimit: '80'
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Right

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: true
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
CommentPragmas: '^[^ ]'
...
