# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# The original file after running astyle:
*.orig


*~

/.lock-wscript
/build/
/tests/config.json
/node_modules/
/tests/CouchbaseMock.jar
