[submodule "deps/couchbase-cxx-client"]
	path = deps/couchbase-cxx-client
	url = https://github.com/couchbaselabs/couchbase-cxx-client.git
[submodule "deps/couchbase-transactions-cxx"]
	path = deps/couchbase-transactions-cxx
	url = https://github.com/couchbase/couchbase-transactions-cxx.git
